<form class="{{cssClass}} " autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="actor-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.img}}"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'ALIENRPG.Name'}}" /></h1>
			<div class="resources grid grid-synth">
				{{!-- Health and Stress --}}
				<h2 for="data.health.value" class="resource-label rollable rollCrit" title="{{ localize 'ALIENRPG.CriticalInjuries'}}">{{ localize "ALIENRPG.Health"}}</h2>
				<div class="resource-content">
					<button type="button" type="button" class="minus-btn" data-pmbut="minusHealth"><i class="fas fa-minus-square fa-xs" title="Minus"></i></button>
					<input type="text" class="maxboxsize" name="data.header.health.value" value="{{data.header.health.value}}" data-dtype="Number" />
					<button type="button" class="plus-btn" data-pmbut="plusHealth"><i class="fas fa-plus-square fa-xs" title="Plus"></i></button>
				</div>
				
				{{#if data.header.synthstress}}
				<h2 for="0" class="resource-label rollable rollable-stress synth-stresslabel" data-panicroll="0"data-mod="0">{{localize "ALIENRPG.NoStress"}}</h2>
				{{else}}
				<h2 for="0" class="resource-label synth-stresslabel" data-panicroll="0"data-mod="0">{{localize "ALIENRPG.NoStress"}}</h2>
				{{/if}}
			</div>
			
			{{!-- Attributes --}}
			<div class="abilities crt-grid-Char-Att">
				
				<h3 class="resource-label rollable gCol1" data-attr="attribute" data-roll="{{data.attributes.str.value}}" data-mod="{{data.attributes.str.mod}}" data-label="{{data.attributes.str.label}}">{{localize "ALIENRPG.AbilityStr"}}</h3>
				<input type="text" class="maxboxsize gCol2" name="data.attributes.str.value" value="{{data.attributes.str.value}}" data-dtype="Number" />
				
				<h3 class="resource-label rollable gCol3" data-attr="attribute" data-roll="{{data.attributes.wit.value}}" data-mod="{{data.attributes.wit.mod}}"  data-label="{{data.attributes.wit.label}}">{{localize "ALIENRPG.AbilityWit"}}</h3>
				<input type="text" class="maxboxsize gCol4" name="data.attributes.wit.value" value="{{data.attributes.wit.value}}" data-dtype="Number" />
				
				<h3 class="resource-label rollable gCol5" data-roll="{{data.general.armor.value}}" data-spbutt="armor">{{ localize "ALIENRPG.Armor"}}</h3>
				<input type="text" class="maxboxsize gCol6" name="data.general.armor.value"  value="{{data.general.armor.value}}" data-dtype="Number" disabled />
				
				<h3 class="resource-label rollable gCol7" data-attr="attribute" data-roll="{{data.attributes.agl.value}}"  data-mod="{{data.attributes.agl.mod}}" data-label="{{data.attributes.agl.label}}">{{localize "ALIENRPG.AbilityAgl"}}</h3>
				<input type="text" class="maxboxsize gCol8" name="data.attributes.agl.value" value="{{data.attributes.agl.value}}" data-dtype="Number" />
				
				<h3 class="resource-label rollable gCol9" data-attr="attribute" data-roll="{{data.attributes.emp.value}}"  data-mod="{{data.attributes.emp.mod}}" data-label="{{data.attributes.emp.label}}">{{localize "ALIENRPG.AbilityEmp"}}</h3>
				<input type="text" class="maxboxsize gCol10" name="data.attributes.emp.value" value="{{data.attributes.emp.value}}" data-dtype="Number" />
				
				
				
				{{#if isGM}}
				<h3 class="resource-label gCol11" >{{localize "ALIENRPG.NPC"}}</h3>
				<div class="gCol12 tooltip"> 
					<input class="gCol12 tooltip NPC" name="data.header.npc" type="checkbox" {{checked data.header.npc}} />
					<span class="tooltiptext">{{localize "ALIENRPG.NPCpopUp"}}</span>
				</div>
				{{/if}}
				
			</div>
		</header>
		
		{{!-- Sheet Tab Navigation --}}
		<nav class="sheet-tabs tabs" data-group="primary">
			<a class="item" data-tab="general">{{localize "ALIENRPG.General"}}</a>
			<a class="item" data-tab="skills">{{localize "ALIENRPG.Skills"}}</a>
			<a class="item" data-tab="inventory">{{localize "ALIENRPG.Inventory"}}</a>
			<a class="item" data-tab="description">{{localize "ALIENRPG.Description"}}</a>
		</nav>
		
		{{!-- Sheet Body --}}
		<section class="sheet-body">
			
			{{!--Skills Tab --}}
			<div class="tab skills" data-group="primary" data-tab="skills">
				<div class="grid-container ">
					<!-- Col1 -->
					<span class="Col1">
						{{#each data.skills as |skill key|}}
						<span class="ability grid-attr">
							<h3 for="data.skills.{{key}}.value" class="resource-label rollable Attr1" data-roll="{{skill.mod}}"  data-label="{{skill.label}}">{{skill.label}}  ({{skill.ability}})</h3>
							<input type="text" class="maxboxsize Attr2" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
							<div class="resource-content">
								<button type="button" class="stunt-btn Attr3" data-pmbut="{{skill.description}}"><i class="fas fa-tools fa-xs" title="Stunts"></i></button>
							</div>
						</span>
						{{/each}}
						
					</span>
					
					<!-- Col2 -->
					<div class="Col2">
						<li class="grid-talents item-header">
							<h2 class="item talTitle">{{localize "ALIENRPG.Talents"}}</h2>
							<h3 class="item-name tal1"  >{{localize "ALIENRPG.Name"}}</h3>
							<div class="item-controls tal2">
								{{!-- <a class="item-control item-create" style="font-size: smaller;" title="Create item" data-type="talent"><i class="fas fa-plus"></i> {{localize "ALIENRPG.AddItem"}}</a> --}}
							</div>
						</li>
						
						{{#each talents as |item iid|}}
						<li class="item grid-talents" data-item-id="{{item._id}}">
							<h4 class="item-name tal3 talent-btn" data-pmbut="{{item._id}}">{{item.name}} </h4>
							<div class="tal4 item-controls">
								<a class="item-control item-edit" data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
								
							</div>
						</li>
						{{/each}}
					</div>
					<div class="Col4">
						<li class="grid-talents item-header">
							<h2 class="item talTitle">{{localize "ALIENRPG.AgendaStory"}}</h2>
							<h3 class="item-name tal1"  >{{localize "ALIENRPG.Name"}}</h3>
							<div class="item-controls tal2">
							</div>
						</li>
						
						{{#each agendas as |item iid|}}
						<li class="item grid-talents" data-item-id="{{item._id}}">
							<h4 class="item-name tal3 talent-btn" data-pmbut="{{item._id}}">{{item.name}} </h4>
							<div class="tal4 item-controls">
								<a class="item-control item-edit" data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
								
							</div>
						</li>
						{{/each}}
					</div>
					
					
					{{!-- Stunts/Talents pop up    DO NOT TOUCH THE DIV BELOW --}}
					<div class="Col3" style="font-family: initial;font-size: larger" id="panel" >
					</div>
				</div>
			</div>
			
			
			
			{{!-- Biography Tab --}}
			<div class="tab biog " data-group="primary" data-tab="description">{{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}</div>
			{{!-- Owned Items Tab --}}
			<!-- INVENTORY -->
			<div class="tab inventory" data-group="primary" data-tab="inventory">{{> "systems/alienrpg/templates/actor/tabs/actor-inventory.html" sections=inventory}}</div>
			
			
			
			<div class="tab general" data-group="primary" data-tab="general">
				<div class="grid-crtPage">
					
					<!-- Col1 -->
					<div class="crt_Col1">
						<div class="crt_Item1">
							{{#if data.general.sp.value}}
							<div class="dots experience">
								<h2 class="resource-label">CINEMATIC</h2>
								<div class="xp_dots_pos">
									<h4 class="resource-label">{{localize "ALIENRPG.StoryPoints"}}</h4>
									<input type="hidden" name="data.general.sp.value" data-max="{{data.general.sp.max}}" value="{{data.general.sp.value}}" data-dtype="Number">
									<span class="click-stat-level" title="{{ localize 'ALIENRPG.ConButtons'}}">{{{data.general.sp.icon}}}</span>
								</div>
							</div>
							{{else if data.general.xp.value }}
							<div class="dots experience">
								<h2 class="resource-label">CAMPAIGN</h2>
								<div class="xp_dots_pos">
									<h4 class="resource-label">{{ localize "ALIENRPG.XP"}}</h4>
									<input type="hidden" name="data.general.xp.value" data-max="{{data.general.xp.max}}" value="{{data.general.xp.value}}" data-dtype="Number">
									<span class="click-stat-level" title="{{ localize 'ALIENRPG.ConButtons'}}">{{{data.general.xp.icon}}}</span>
								</div>
							</div>
							{{else}}
							<div class="dots experience sp_faded">
								<h4 class="resource-label">{{localize "ALIENRPG.StoryPoints"}}</h4>
								<input type="hidden" name="data.general.sp.value" data-max="{{data.general.sp.max}}" value="{{data.general.sp.value}}" data-dtype="Number">
								<span class="click-stat-level" title="{{ localize 'ALIENRPG.ConButtons'}}">{{{data.general.sp.icon}}}</span>
							</div>
							<div class="dots experience xp_faded">
								<h4 class="resource-label">{{ localize "ALIENRPG.XP"}}</h4>
								<input type="hidden" name="data.general.xp.value" data-max="{{data.general.xp.max}}" value="{{data.general.xp.value}}" data-dtype="Number">
								<span class="click-stat-level" title="{{ localize 'ALIENRPG.ConButtons'}}">{{{data.general.xp.icon}}}</span>
							</div>
							{{/if}}
						</div>
						
						<div class="crt_Item2_synth">
							<h2 class="Heading" >{{ localize 'ALIENRPG.Conditions'}}</h2>
							
							<div class="dots_conditions">
								<div class="synth-label"><h3>{{ localize "ALIENRPG.Synthetic"}}</h3></div>
								
								<div class="synthsdont" >{{localize "ALIENRPG.SynthDontNeed"}}</div>
								
								<div class="crt_grid_SynthStress synth_fake_check">
									<div class="imitate-human_left">
										<input name="data.header.synthstress" type="checkbox" {{checked data.header.synthstress}} />
									</div>
									<div class="imitate-human_right">
										<h3>{{localize "ALIENRPG.SynthStress"}}</h3>
									</div>
								</div>
								
								<h3 class="condition overwatch_synth" data-key="overwatch">
									<a class="overwatch-toggle">
										{{#if data.general.overwatch}}
										<i class="far fa-check-square"></i>
										{{else}}
										<i class="far fa-square"></i>
										{{/if}}
									</a>
									{{localize "ALIENRPG.Overwatch"}}
								</h3>
								
								{{#if data.general.radiation.value}}
								<div class="dots radiation rad_glow radglow_synth" id="bottom">
									<h4 class="resource-label">{{ localize "ALIENRPG.Radiation"}}</h4>
									<input type="hidden" name="data.general.radiation.value" data-max="{{data.general.radiation.max}}" value="{{data.general.radiation.value}}" data-dtype="Number">
									<span class="click-stat-level-con" title="{{ localize 'ALIENRPG.ConButtons'}}" data-label="{{ localize 'ALIENRPG.Radiation'}}" data-roll="{{data.general.radiation.value}}">{{{data.general.radiation.icon}}}</span>
								</div>
								{{else}}
								<div class="dots radiation radbox_synth" id="bottom">
									<h4 class="resource-label">{{ localize "ALIENRPG.Radiation"}}</h4>
									<input type="hidden" name="data.general.radiation.value" data-max="{{data.general.radiation.max}}" value="{{data.general.radiation.value}}" data-dtype="Number">
									<span class="click-stat-level-con" title="{{ localize 'ALIENRPG.ConButtons'}}" data-label="{{ localize 'ALIENRPG.Radiation'}}" data-roll="{{data.general.radiation.value}}">{{{data.general.radiation.icon}}}</span>
								</div>
								{{/if}}
								
							</div>
						</div>
						
						<div class="crt_Item3">
							<div class="consumables grid grid-Consumables">
								<h2 class="Heading" >{{localize "ALIENRPG.Consumables"}}</h2>
								
								<h3 class="Air1 resource-label">{{localize "ALIENRPG.Power"}}</h3>
								<div class="resource-content">
									<input type="text" class="maxboxsize" name="data.consumables.power.value" value="{{data.consumables.power.value}}" data-dtype="Number" disabled />
									<button type="button" class="supply-btn Power2" data-spbutt="Power" disabled >
									<i class="fa fa-chevron-up" title="You need to go to the Invetory Tab to make this Supply Roll"></i></button>
								</div>
							</div>
						</div>
						
						
					</div>
					
				<!-- Col 2 -->
				<div class="crt_Col2">
				<div class="crt_Item4">
				<div class="crt_gridCarrer">
				<label class="resource-label box1" >{{localize 'ALIENRPG.Career'}}</label>
				<select class="select-css box2" name="data.general.career.value" data-dtype="{{data.general.career.value}}">
				{{#select data.general.career.value}}
				<!-- <option value=""></option> -->
				<option value="1">{{localize "ALIENRPG.ColonialMarine"}}</option>
				<option value="2">{{localize "ALIENRPG.ColonialMarshal"}}</option>
				<option value="3">{{localize "ALIENRPG.CompanyAgent"}}</option>
				<option value="4">{{localize "ALIENRPG.Kid"}}</option>
				<option value="5">{{localize "ALIENRPG.Medic"}}</option>
				<option value="6">{{localize "ALIENRPG.Mercenary"}}</option>           
				<option value="7">{{localize "ALIENRPG.Officer"}}</option>
				<option value="8">{{localize "ALIENRPG.Pilot"}}</option>
				<option value="9">{{localize "ALIENRPG.Roughneck"}}</option>
				<option value="10">{{localize "ALIENRPG.Scientist"}}</option>           
				<option value="11">{{localize "ALIENRPG.Synthetic"}}</option>           
				{{/select}}
				</select>
				<label class="resource-label box3">{{localize "ALIENRPG.Cash"}}</label>
				<input type="text" class="cashboxsize currency box4" name="data.general.cash.value" value="{{data.general.cash.value}}" />
				</div>	
				<div class="crt_gridSpecialty">
				{{#each specialities as |item iid|}}
				<div class="sbox1 resource-label">
				<label class="speciality-label" >SPECIALTY</label>
				<div class="item-controls ">
				</div>
				</div>
				<li class="sbox2 item crt_grid-special" data-item-id="{{item._id}}">
				<h4 class="item-name spe1" data-pmbut="{{item._id}}">{{item.name}} </h4>
				<a class="spe2 item-control item-edit" data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
				</li>
				{{/each}}
				</div>
				</div>
				
				
				<div class="crt_Item5">
				<label class="resource-label-header">{{ localize "ALIENRPG.PersonalAgenda"}}</label> 
				<textarea name="data.general.agenda.value" rows="6"data-dtype="String">{{data.general.agenda.value}}</textarea>
				</div>
				
				<div class="crt_Item7">
				<label class="resource-label-header">{{ localize "ALIENRPG.Appearance"}}</label> 
				<textarea name="data.general.appearance.value" rows="2"data-dtype="String">{{data.general.appearance.value}}</textarea>
				</div>
				
				<div class="crt_Item9">
				<label class="resource-label-header">{{ localize "ALIENRPG.Relationships"}}</label>
				<div class="crt_Relat">
				<div class="crt_Relat_Buddy">
				<label class="resource-label" style="font-size: smaller;">{{ localize "ALIENRPG.relOne"}}</label>
				<input type="text" class="textbox" name="data.general.relOne.value" value="{{data.general.relOne.value}}" rows="1"data-dtype="String"></input>
				</div>
				<div class="crt_Relat_Rival">
				<label class="resource-label" style="font-size: smaller;">{{ localize "ALIENRPG.relTwo"}}</label>
				<input type="text" class="textbox" name="data.general.relTwo.value"  value="{{data.general.relTwo.value}}" rows="1"data-dtype="String"></input>
				</div>
				</div>
				</div>
				
				<div class="crt_Item6">
				
				<!-- <div class="grid-crit">
				<label class="resource-label-header">{{ localize "ALIENRPG.CriticalInjuries"}}</label> 
				<label class="resource-label-header rollCrit crit2" title="{{localize 'ALIENRPG.RollCrit'}}"><i class="fas fa-heartbeat"></i></label>
				
				</div>
				
				{{#each critInj as |item iid|}}
				<li class="box4 item grid-special" data-item-id="{{item._id}}">
				<h4 class="item-name spe1" data-pmbut="{{item._id}}">{{item.name}} </h4>
				<a class="spe2 item-control item-edit" data-item-id="{{item._id}}" title="{{localize 'ALIENRPG.EditItem'}}"><i class="fas fa-edit"></i></a>
				</li>
				{{/each}}-->
				
				<div class="grid-crit">
				<label class="resource-label-header">{{ localize "ALIENRPG.CriticalInjuries"}}</label> 
				<label class="resource-label-header rollCrit crit2" title="{{localize 'ALIENRPG.RollCrit'}}"><i class="fas fa-heartbeat"></i></label>
				
				</div>
				
				<div class="Item11 items-list" style="overflow: auto">{{> "systems/alienrpg/templates/actor/tabs/critical-inj.html" }}</div>
				
				</div>
				
				</div>
				
				</div>
				</div>
				</section>
				{{log "CONTEXT!!!!"}} {{log this}} 
				
				</form>																																																																										
